<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>英齐小店</title>
    <link rel="icon" href="http://www.jiuxianfeng.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/jquery.pagination.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/jquery.pagination.min.js"></script>
{#    <script src="/DjangoUeditor/static/ueditor/ueditor.all.min.js"></script>#}
{#    <script src="/DjangoUeditor/static/ueditor/ueditor.config.js"></script>#}
</head>
<body>
{% csrf_token %}
<div class="header">
        <div class="header-top">
            <p>欢迎光临！英齐的小站</p>
        </div>

        <div class="header-view">
            <div class="header-content">
                <div>
                    <a href="{% url 'index' %}"><img src="/media/logo.jpg" alt=""></a>
                </div>

                <div class="header-tab">
                    <a href="{% url 'list' type_id='1' %}"><span>葡萄酒</span></a>
                    <a href="{% url 'list' type_id='2' %}"><span>白兰地</span></a>
                    <a href="{% url 'list' type_id='3' %}"><span>洋酒</span></a>
                </div>

                <div class="search">
                    <input type="text" placeholder="请输入商品名称" id="in"><button class="btn-search">搜索</button>
                </div>
            </div>
        </div>
    </div>

{% block banner %}
{% endblock banner %}

{% block main %}
{% endblock main %}

<footer>
    <div class="foot-content">
        <p style="color: #D0D0D0; font-size: 13px; font-family: PingFangSC-Regular;">地址：北京市***********  邮箱：customer@*****.com</p>
        <p style="color: #D0D0D0; font-size: 13px; font-family: PingFangSC-Regular;">© 2017-2020 北京******有限公司版权所有   京ICP备******号-1</p>
        <p >
            <a href="">
                <img src="" alt="" style="height: 20px">
                 <span style="color: #D0D0D0; font-size: 13px; font-family: PingFangSC-Regular;">京公网安备 *********号</span>
            </a>
            
        </p>
    </div>
</footer>

<script>



layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
    elem: '#test1'
    ,width: '100%' //设置容器宽度
    ,arrow: 'always' //始终显示箭头
    ,height:'440px'
    //,anim: 'updown' //切换动画方式
  });
});

var dic = new Object;
dic['label_id'] = '';
dic['standard'] = '';
dic['price_range'] = '';
dic['csrfmiddlewaretoken'] = '{{ csrf_token }}';

$('.itype').click(function () {
    $(this).addClass('active').siblings().removeClass('active');
    var curUrl = window.location.href;
    var type = curUrl.substr(curUrl.length-1, 1);
    dic['type'] = type;
    dic['label_id'] = $(this).attr('ivalue');
    $.post('/checkgoods/', dic, function (data) {
        $('.goods').empty();
        $.each(data, function (k,item) {
            $('.goods').append(

                `<li class="check-wine">
                <a href="{% url 'detail' %}?goods_id=${item.good_id}">
                    <img src="{{ MEDIA_URL }}${item.good_img}" alt="" class="check-wine-img">
                </a>
                <div class="check-wine-item">
                    <div class="check-wine-item-name">${item.good_name}</div>
                    <div class="check-wine-item-info">
                        <div class="check-wine-price">
                            <font size="4px" face="黑体" color="#901a00">
                                <b>RMB</b>
                            </font>
                            <font size="5px" color="#901a00">
                                <b>${item.good_price}</b>
                            </font>
                        </div>
                        <div class="check-wine-btn">
                            <a href="">
                                <span style="size: 3px; color: #fff; background: #a10000; padding: 4px">立即购买</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
                `
            )
        });

    })
});

$('.standard').click(function () {
    $(this).addClass('active').siblings().removeClass('active');
    var curUrl = window.location.href;
    var type = curUrl.substr(curUrl.length-1, 1);
    dic['type'] = type;
    dic['standard'] = $(this).attr('ivalue');
    $.post('/checkgoods/', dic, function (data) {
        $('.goods').empty();
        $.each(data, function (k,item) {
            $('.goods').append(

                `<li class="check-wine">
                <a href="{% url 'detail' %}?goods_id=${item.good_id}">
                    <img src="{{ MEDIA_URL }}${item.good_img}" alt="" class="check-wine-img">
                </a>
                <div class="check-wine-item">
                    <div class="check-wine-item-name">${item.good_name}</div>
                    <div class="check-wine-item-info">
                        <div class="check-wine-price">
                            <font size="4px" face="黑体" color="#901a00">
                                <b>RMB</b>
                            </font>
                            <font size="5px" color="#901a00">
                                <b>${item.good_price}</b>
                            </font>
                        </div>
                        <div class="check-wine-btn">
                            <a href="">
                                <span style="size: 3px; color: #fff; background: #a10000; padding: 4px">立即购买</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
                `
            )
        });
    })
});

$('.price-range').click(function () {
    $(this).addClass('active').siblings().removeClass('active');
    var curUrl = window.location.href;
    var type = curUrl.substr(curUrl.length-1, 1);
    dic['type'] = type;
    dic['price_range'] = $(this).attr('ivalue');
    $.post('/checkgoods/', dic, function (data) {
        $('.goods').empty();
        $.each(data, function (k,item) {
            $('.goods').append(

                `<li class="check-wine">
                <a href="{% url 'detail' %}?goods_id=${item.good_id}">
                    <img src="{{ MEDIA_URL }}${item.good_img}" alt="" class="check-wine-img">
                </a>
                <div class="check-wine-item">
                    <div class="check-wine-item-name">${item.good_name}</div>
                    <div class="check-wine-item-info">
                        <div class="check-wine-price">
                            <font size="4px" face="黑体" color="#901a00">
                                <b>RMB</b>
                            </font>
                            <font size="5px" color="#901a00">
                                <b>${item.good_price}</b>
                            </font>
                        </div>
                        <div class="check-wine-btn">
                            <a href="">
                                <span style="size: 3px; color: #fff; background: #a10000; padding: 4px">立即购买</span>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
                `
            )
        });
    })
});

$('#want').click(function () {

    layui.use('layer', function(){
        var layer = layui.layer;
        layer.open({
               type: 1 //Page层类型
               ,skin: 'layui-layer-molv'
               ,area: ['380px', '270px']
               ,title: ['意向信息','font-size:18px']
               ,shadeClose: true
               ,shade: 0 //遮罩透明度
               ,content:$("#window")
               ,success:function(l, index){
                    $('#cancle').click(function () {
                        layer.close(index)
                    });

                    $('#sub').click(function () {
                        var info = new Object;
                        info['name'] = $('#bname').val();
                        info['phone'] = $('#bphone').val();
                        info['wish'] = $('#bwish').val();
                        info['id'] = $('#sub').attr('value');
                        info['csrfmiddlewaretoken'] = '{{ csrf_token }}';
                        $.post('/wish/', info, function (data) {
                            if (data=='1'){
                                layer.close(index);
                                layer.msg('提交成功')
                            }
                            else if(data=='0'){
                                layer.close(index);
                                layer.msg('提交失败')
                            }

                        })
                    })
               }
           });

    });
});

$('#telphone').click(function () {
    layui.use('layer', function(){
        var layer = layui.layer;
        layer.open({
               type: 1 //Page层类型
               ,skin: 'layui-layer-molv'
               ,area: ['250px', '150px']
               ,title: ['电话','font-size:18px']
               ,shadeClose: true
               ,shade: 0 //遮罩透明度
               ,content:$("#window1")
           });

    });
});
    
$(function () {
    var pagenums = $('.pagenums').attr('id');
    pagenums = parseInt(pagenums);
    $("#pagination3").pagination({
					currentPage: 1,
					totalPage: pagenums,
					isShow: true,
					count: 5,
					homePageText: "首页",
					endPageText: "尾页",
					prevPageText: "上一页",
					nextPageText: "下一页",
					callback: function(current) {
						console.log(current);

					}
				});
})

</script>

</body>
</html>