{% extends 'base.html' %}
{% load static %}

{% block banner %}
<div class="layui-carousel" id="test1">
      <div carousel-item>
          {% for ban in bann %}
            <div><img src="{{ MEDIA_URL }}{{ ban.image }}" alt=""></div>
          {% endfor %}
      </div>
    </div>
{% endblock banner %}

{% block main %}
<div class="main">

    <div class="new">

        <div class="new-title">新品推荐</div>


        <div class="new-content">
            <ul>
                {% for good in hot_goods %}
                <li class="new-wine">
                    <div class="flag flag-left">New</div>
                    <a href="">
                        <img src="{{ MEDIA_URL }}{{ good.image }}" alt="" class="new-content-img">
                    </a>
                    <div class="wine-item">
                        <div class="wine-item-name">{{ good.name }}</div>
                        <div class="wine-item-info">
                            <div class="wine-price">
                                <font size="4px" face="黑体" color="#901a00">
                                    <b>RMB</b>
                                </font>
                                <font size="5px" color="#901a00">
                                    <b>{{ good.price }}</b>
                                </font>
                            </div>
                            <div class="wine-btn">
                                <a href="">
                                    <font size="3px" color="#fff" face="黑体">立即购买</font>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="box-wine">
        <img src="/media/box.jpg" alt="" class="box-wine-img">
        <div class="new-content">
            <ul>

                {% for good in box_goods %}
                <li class="new-wine">
                    <a href="">
                        <img src="{{ MEDIA_URL }}{{ good.image }}" alt="" class="new-content-img">
                    </a>
                    <div class="wine-item">
                        <div class="wine-item-name">{{ good.name }}</div>
                        <div class="wine-item-info">
                            <div class="wine-price">
                                <font size="4px" face="黑体" color="#901a00">
                                    <b>RMB</b>
                                </font>
                                <font size="5px" color="#901a00">
                                    <b>{{ good.price }}</b>
                                </font>
                            </div>
                            <div class="wine-btn">
                                <a href="">
                                    <font size="3px" color="#fff" face="黑体">立即购买</font>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="box-wine">
        <img src="/media/single.jpg" alt="" class="box-wine-img">
        <div class="new-content">
            <ul>

                {% for good in single_goods %}
                <li class="new-wine">
                    <a href="">
                        <img src="{{ MEDIA_URL }}{{ good.image }}" alt="" class="new-content-img">
                    </a>
                    <div class="wine-item">
                        <div class="wine-item-name">{{ good.name }}</div>
                        <div class="wine-item-info">
                            <div class="wine-price">
                                <font size="4px" face="黑体" color="#901a00">
                                    <b>RMB</b>
                                </font>
                                <font size="5px" color="#901a00">
                                    <b>{{ good.price }}</b>
                                </font>
                            </div>
                            <div class="wine-btn">
                                <a href="">
                                    <font size="3px" color="#fff" face="黑体">立即购买</font>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <div class="box-wine">
        <img src="/media/gift.jpg" alt="" class="box-wine-img">
        <div class="new-content">
            <ul>

                {% for good in gift_goods %}
                <li class="new-wine">
                    <a href="">
                        <img src="{{ MEDIA_URL }}{{ good.image }}" alt="" class="new-content-img">
                    </a>
                    <div class="wine-item">
                        <div class="wine-item-name">{{ good.name }}</div>
                        <div class="wine-item-info">
                            <div class="wine-price">
                                <font size="4px" face="黑体" color="#901a00">
                                    <b>RMB</b>
                                </font>
                                <font size="5px" color="#901a00">
                                    <b>{{ good.price }}</b>
                                </font>
                            </div>
                            <div class="wine-btn">
                                <a href="">
                                    <font size="3px" color="#fff" face="黑体">立即购买</font>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}

            </ul>
        </div>
    </div>

</div>
{% endblock main %}