<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="icon" href="http://www.jiuxianfeng.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/YQShop/static/layui/css/layui.css">
    <link rel="stylesheet" href="/YQShop/static/css/index2.css">
    <script src="/YQShop/static/layui/layui.js"></script>
</head>
<body>
    <div class="header">
        <div class="header-top">
            <p>欢迎光临！英齐的小站</p>
        </div>

        <div class="header-view">
            <div class="header-content">
                <div>
{#                    <a href=""><img src="/YQShop/media/logo.jpg" alt=""></a>#}
                </div>

                <div class="header-tab">
                    <a href=""><span>葡萄酒</span></a>
                    <a href=""><span>白兰地</span></a>
                    <a href=""><span>洋酒</span></a>
                </div>

                <div class="search">
                    <input type="text" placeholder="请输入商品名称" id="in"><button class="btn-search">搜索</button>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-carousel" id="test1">
      <div carousel-item>
        <div><img src="/YQShop/media/11.jpg" alt="" class="lay-img"></div>
        <div>条目2</div>
        <div>条目3</div>
        <div>条目4</div>
        <div>条目5</div>
      </div>
    </div>



<script>
layui.use('carousel', function(){
  var carousel = layui.carousel;
  //建造实例
  carousel.render({
      elem: '#test1',
      width: '100%', //设置容器宽度
      arrow: 'always', //始终显示箭头
      height:'440px',
      interval:1000
    //,anim: 'updown' //切换动画方式
  });
});
</script>
</body>
</html>








































